table {
  background-color: black;
  border: 2px solid black;
  border-radius: 4px;
}
tr,
td {
  border: 2px solid black;
  border-radius: 9px;
}

.container-1 {
  display: flex;
  background-color: black;
  width: 300px;
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .box-1 {
    height: 100px;
    width: 100px;
    background-color: #009b48;
    border: 3px solid black;
    border-radius: 10px;
  }

  .box-2 {
    height: 100px;
    width: 100px;
    background-color: #b71234;
    border: 3px solid black;
    border-radius: 10px;
  }
  .box-3 {
    height: 100px;
    width: 100px;
    background-color: #ffd500;
    border: 3px solid black;
    border-radius: 10px;
  }
}
.container-2 {
  display: flex;
  background-color: black;
  width: 300px;
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid black;

  .box-4 {
    height: 100px;
    width: 100px;
    background-color: #ff5800;
    border: 3px solid black;
    border-top: 1px;
    border-radius: 10px;
  }

  .box-5 {
    height: 100px;
    width: 100px;
    background-color: #fff;
    border: 3px solid black;
    border-top: 1px;
    border-radius: 10px;
  }
  .box-6 {
    height: 100px;
    width: 100px;
    background-color: #0046ad;
    border: 3px solid black;
    border-top: 1px;
    border-radius: 10px;
  }
}
.container-3 {
  display: flex;
  background-color: black;
  width: 300px;
  border-top: 4px solid black;
  border-right: 4px solid black;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  .box-7 {
    height: 100px;
    width: 100px;
    background-color: #009b48;
    border: 3px solid black;
    border-top: 1px;
    border-radius: 10px;
  }

  .box-8 {
    height: 100px;
    width: 100px;
    background-color: #b71234;
    border: 3px solid black;
    border-top: 1px;
    border-radius: 10px;
  }
  .box-9 {
    height: 100px;
    width: 100px;
    background-color: #ff5800;
    border: 3px solid black;
    border-top: 1px;
    border-radius: 10px;
  }
}
